glog==0.3.1
pandas==1.5.0
tifffile==2023.7.10
openpyxl==3.1.2
opencv-python==4.8.0.76
scipy==1.10.1
anndata==0.9.2
open3d==0.17.0
tqdm==4.66.1
scanpy==1.9.5
leidenalg==0.10.1
harmonypy==0.0.9
gefpy==1.2.3
XML2Dict==0.2.2
POT==0.9.5